<p id="notice"><%= notice %></p>

</br>
<h1 class="text-center">Habits</h1>
</br>

<% @habits.each do |habit| %>
  <div class="card" style="width: 24rem;">
    <div class="card-header text-center"><%= habit.description %></div>
    <div class="card-body">
      <%= render "day" %>
      <%= link_to 'Edit', edit_habit_path(habit) %>
      <%= link_to 'Destroy', habit, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  </br>
<% end %>


<br>

<%= link_to 'New Habit', new_habit_path %>
